//@font-face {
//    font-family: @icon-font-family;
//    src: url('@{icon-font-path}/iconfont.eot'); /* IE9*/
//    src: url('@{icon-font-path}/iconfont.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
//        url('@{icon-font-path}/iconfont.woff') format('woff'), /* chrome、firefox */
//        url('@{icon-font-path}/iconfont.ttf') format('truetype'), /* chrome、firefox、opera、Safari, Android, iOS 4.2+*/
//        url('@{icon-font-path}/iconfont.svg#iconfont') format('svg'); /* iOS 4.1- */
//    font-weight: normal;
//    font-style: normal;
//}
//// icon 字体定义
//
//@icon-version:     "0.0.1";
//@icon-font-family: "iconfont";
//@icon-font-path:   "../fonts";

@version: '?v1.0';

@body-bg:      #f6f6f6; // 背景色定义
@color-black:  #353535; // 黑色
@color-orange: #e75012; // 橙色
@color-blue:   #0087e3; // 蓝色
@color-gray:   #e2e2e2; // 灰色(边框为此色)
@color-dgray:  #6d6d6d; // 深灰色dark-gray
@color-lgray:  #c8c8c8; // 浅灰色light-gray
@color-red:    #f00; // 红色
@color-white:  #fff; // 白色
@color-order:  #ffe7b4; // 支付订单用到的颜色


// 边框颜色定义

@border-gray:  #c8c8c8;
@border-red:   #ee374f;
@border-black: #000;
@border-blue:  #0087e3;






